.wrapper {
  .dialog-content {
    border-top: solid 0.125rem #ebecf1;
    border-bottom: solid 0.125rem #ebecf1;
    padding-top: 1rem;

    .dialog-content-column-1 {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      grid-area: a;
    }

    .dialog-content-column-2 {
      display: flex;
      flex-direction: column;
      grid-area: b;
    }

    .dates {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .description-field {
      width: 100%;
    }

    .full-width-field {
      width: 100%;
    }
  }

  .dialog-actions {
    display: flex;
    justify-content: space-between;
  }
}