.wrapper {
  max-width: 45rem;

  .dialog-content {
    border-top: solid 0.125rem #ebecf1;
    border-bottom: solid 0.125rem #ebecf1;
    padding-top: 1rem;

    .ware-field {
      margin-top: 0.5rem;
    }

    .dates {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .description-field {
      width: 100%;
    }

    .full-width-field {
      width: 100%;
    }
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
}