<style>
    table {
        border: solid 1px black;
        border-collapse: collapse;
    }

    thead {
        background-color: lightgray;
    }

    th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>

@if (@Model != null)
{
    <p>Привет, <b>@Model.UserName</b>!</p>
    <p>Вы были зарегистрированы в <b>WMS</b>.<br>
    Для входа в систему используйте данные приведённые ниже:</p>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Initial password</th>
            </tr>
        </thead>
        <tr>
            <td>@Model.Email</td>
            <td>@Model.Password</td>
        </tr>
    </table>
}
