@import 'src/styles/variables.scss';

::-webkit-scrollbar {
  width: 0.40rem;
  height: 0.25rem;
  overflow-y: scroll;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

.wrapper {
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-areas:
  "toolbar toolbar"
  "tree view";
  grid-template-rows: 3.3rem 1fr;
  grid-template-columns: 1fr 3fr;

  .addresses-toolbar {
    grid-area: toolbar;
    border-bottom: solid 0.125rem #ebecf1;
  }

  .tree {
    grid-area: tree;
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .address-info {
    grid-area: view;
    border-left: solid 0.5rem #f7f7f7;
  }
}