<mat-toolbar
  color="primary"
  class="mat-elevation-z8 toolbar"
>
  <a
    class="logo-section"
    [routerLink]="homeRoute.Default"
  >
    <img src="assets/logo.png" alt="logo-wms" class="logo">
    <span class="name">WMS</span>
  </a>

  <a
    mat-button
    class="menu-item"
    [routerLink]="homeRoute.Wares"
  >
    Товары
  </a>
  <a
    mat-button
    class="menu-item"
    [routerLink]="homeRoute.Addresses"
  >
    Адреса
  </a>
  <a
    mat-button
    class="menu-item"
    [routerLink]="homeRoute.Tasks"
  >
    Задачи
  </a>

  <button
    mat-button
    [matMenuTriggerFor]="dictionaries"
    class="dropdown-menu-item"
  >
    <span>Словари</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #dictionaries="matMenu">
    <button
      mat-menu-item
      [routerLink]="homeRoute.Dictionaries + '/' + dictionariesRoute.UnitOfMeasurements"
    >
      Ед. измерения
    </button>
  </mat-menu>

  <button
    *ngIf="isAdmin()"
    mat-button
    [matMenuTriggerFor]="administration"
    class="dropdown-menu-item"
  >
    <span>Управление</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #administration="matMenu">
    <button
      mat-menu-item
      [routerLink]="homeRoute.AdminPanel + '/' + adminPanelRoute.Employees"
    >Сотрудники</button>
    <button mat-menu-item [matMenuTriggerFor]="tenants">Арендаторы</button>
  </mat-menu>

  <mat-menu #tenants="matMenu">
    <button
      mat-menu-item
      [routerLink]="homeRoute.AdminPanel + '/' + adminPanelRoute.Individuals"
    >Физ. лица</button>
    <button
      mat-menu-item
      [routerLink]="homeRoute.AdminPanel + '/' + adminPanelRoute.LegalEntities"
    >Юр. лица</button>
  </mat-menu>

  <button
    mat-raised-button
    color="primary"
    style="margin-left: 1rem;"
    (click)="openTaskDialog()"
  >
    Создать задачу
  </button>

  <div class="spacer"></div>
  <mat-icon
    *ngIf="isAdmin()"
    matTooltip="Настройки системы"
    class="system-setting"
    (click)="onSettingsClick()"
  >settings</mat-icon>
  <div class="user-info">
    <div
      class="avatart-img"
      [style.background-image]="'url(' + (currentUser?.AvatarUrl ?? commonConstants.DEFAULT_USER_AVATAR) + ')'"
    ></div>
    <span>{{ currentUser?.FirstName }}, {{ currentUser?.LastName }}</span>
  </div>
  <a mat-icon-button color="basic" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>
