<mat-toolbar
  color="primary"
  class="mat-elevation-z8 toolbar"
>
  <a
    class="logo-section"
    routerLink="/"
  >
    <img src="assets/logo.png" alt="logo-wms" class="logo">
    <span class="name">WMS</span>
  </a>

  <a
    mat-button
    class="menu-item"
    routerLink="tasks"
  >Задачи</a>
  <a
    mat-button
    class="menu-item"
    routerLink="wares"
  >Товары</a>

  <button
    mat-button
    [matMenuTriggerFor]="dictionaries"
    class="dropdown-menu-item"
  >
    <span>Словари</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #dictionaries="matMenu">
    <button
      mat-menu-item
      routerLink="dictionaries/unit-of-measurements"
    >Ед. измерения</button>
    <button
      mat-menu-item
      [matMenuTriggerFor]="addresses"
    >Адреса</button>
  </mat-menu>

  <mat-menu #addresses="matMenu">
    <button
      mat-menu-item
      routerLink="dictionaries/addresses/racks"
    >Стелажи</button>
    <button
      mat-menu-item
      routerLink="dictionaries/addresses/areas"
    >Зоны</button>
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="administration"
    class="dropdown-menu-item"
  >
    <span>Управление</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #administration="matMenu">
    <button
      mat-menu-item
      routerLink="admin-panel/employees"
    >Сотрудники</button>
    <button mat-menu-item [matMenuTriggerFor]="tenants">Арендаторы</button>
  </mat-menu>

  <mat-menu #tenants="matMenu">
    <button
      mat-menu-item
      routerLink="admin-panel/tenants/individuals"
    >Физ. лица</button>
    <button
      mat-menu-item
      routerLink="admin-panel/tenants/legal-entities"
    >Юр. лица</button>
  </mat-menu>

  <div class="spacer"></div>
  <div class="user-info">
    <span>Владислав, Демьянов</span>
  </div>
  <a mat-icon-button color="basic">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>
