<div class="wrapper">
  <div class="container">
    <h2>{{ getColumnTitle(problemStatus.ToDo) }}</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="toDo"
      [cdkDropListConnectedTo]="canUserChangeStatusToDone ? [doneList,inProgressList,awaitingForApprovalList] : [inProgressList,awaitingForApprovalList]"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of toDo" cdkDrag>
        <div class="problem-info">
          <div class="title">
            {{ item.Title }}
          </div>
          <div class="date">
            {{ formatDate(item.LastUpdateDate ?? item.CreatedDate) }}
          </div>
        </div>
        <div>
          <button mat-icon-button color="primary" (click)="(openTaskDialog(item))">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button *ngIf="canUserEditProblem" mat-icon-button color="warn" (click)="(openTaskDialog(item, true))">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>{{ getColumnTitle(problemStatus.InProgress) }}</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="canUserChangeStatusToDone ? [todoList, awaitingForApprovalList, doneList] : [todoList, awaitingForApprovalList]"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of inProgress" cdkDrag>
        <div class="problem-info">
          <div class="title">
            {{ item.Title }}
          </div>
          <div class="date">
            {{ formatDate(item.LastUpdateDate ?? item.CreatedDate) }}
          </div>
        </div>
        <div>
          <button mat-icon-button color="primary" (click)="(openTaskDialog(item))">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button *ngIf="canUserEditProblem" mat-icon-button color="warn" (click)="(openTaskDialog(item, true))">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>{{ getColumnTitle(problemStatus.AwaitingForApproval) }}</h2>

    <div
      cdkDropList
      #awaitingForApprovalList="cdkDropList"
      [cdkDropListData]="awaitingForApproval"
      [cdkDropListConnectedTo]="canUserChangeStatusToDone ? [todoList, inProgressList, doneList] : [todoList, inProgressList]"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of awaitingForApproval" cdkDrag>
        <div class="problem-info">
          <div class="title">
            {{ item.Title }}
          </div>
          <div class="date">
            {{ formatDate(item.LastUpdateDate ?? item.CreatedDate) }}
          </div>
        </div>
        <div>
          <button mat-icon-button color="primary" (click)="(openTaskDialog(item))">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button *ngIf="canUserEditProblem" mat-icon-button color="warn" (click)="(openTaskDialog(item, true))">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>{{ getColumnTitle(problemStatus.Done) }}</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="canUserChangeStatusToDone ? [todoList, awaitingForApprovalList, inProgressList] : []"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of done" cdkDrag>
        <div class="problem-info">
          <div class="title">
            {{ item.Title }}
          </div>
          <div class="date">
            {{ formatDate(item.LastUpdateDate ?? item.CreatedDate) }}
          </div>
        </div>
        <div>
          <button mat-icon-button color="primary" (click)="(openTaskDialog(item))">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button *ngIf="canUserEditProblem" mat-icon-button color="warn" (click)="(openTaskDialog(item, true))">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
