@import 'src/styles/variables.scss';

::-webkit-scrollbar {
  width: 0.40rem;
  height: 0.25rem;
  overflow-y: scroll;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

:host ::ng-deep .mat-list-base {
  padding: 0;
}

:host ::ng-deep .mdc-list {
  padding: 0;
}

::ng-deep .mat-badge-content {
  font-family: 'Material Icons';
  top: 0.8rem;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1.25fr 12fr 1fr;

  .wares-scroll-wrapper {
    padding: 0;
    overflow-x: hidden;
    border-top: solid 0.125rem #ebecf1;
    border-bottom: solid 0.125rem #ebecf1;
  }

  .wares-navigation-footer {
    display: flex;
    align-items: center;

    .info {
      padding-left: 1rem;
    }
  }
}