<div class="wrapper">

  <h3
    *ngIf="!selectedWareId && !isCreating"
    class="warning"
  >
    Выберите товар или создайте новый
  </h3>

  <mat-card class="math-card" *ngIf="selectedWareId || isCreating">
    <mat-card-header>
      <h1>{{ getFormTitle() }}</h1>
    </mat-card-header>
    <mat-card-content class="ware-card-content">
      <form
        [formGroup]="wareForm"
      >
        <div class="field-row">
          <mat-form-field appearance="fill">
            <mat-label>Название</mat-label>
            <input [readonly]="isReadonly" formControlName="Name" matInput />
            <mat-error
              *ngIf="wareForm.controls['Name'].hasError('required')"
            >
              Поле обязательное
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Владелец</mat-label>
            <mat-select formControlName="LegalEntityId">
              <mat-option
                [disabled]="isReadonly"
                *ngFor="let legalEntity of legalEntities"
                [value]="legalEntity.Id"
              >
                {{ legalEntity.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="field-row">
          <mat-form-field appearance="fill">
            <mat-label>Дата приёмки</mat-label>
            <input
              [readonly]="isReadonly"
              formControlName="ReceivingDate"
              matInput
              [matDatepicker]="receivingDatePicker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="receivingDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              [disabled]="isReadonly"
              #receivingDatePicker
            ></mat-datepicker>
            <mat-error
              *ngIf="wareForm.controls['ReceivingDate'].hasError('required')"
            >
              Поле обязательное
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Дата отгрузки</mat-label>
            <input
              [readonly]="true"
              formControlName="ShippingDate"
              matInput
              [matDatepicker]="shippingDatePicker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="shippingDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              [disabled]="true"
              #shippingDatePicker
            ></mat-datepicker>
          </mat-form-field>
        </div>

        <app-address-picker 
          class="address-picker-field full-width-field"
          formControlName="ShelfId"
          controlLabel="Адрес*"
          [readonly]="isReadonly"
        >
        </app-address-picker>
        <mat-error
          *ngIf="wareForm.controls['ShelfId'].hasError('required') && wareForm.controls['ShelfId'].touched"
        >
          Поле обязательное
        </mat-error>

        <mat-form-field appearance="fill" class="description-field full-width-field">
          <mat-label>Описание</mat-label>
          <textarea [readonly]="isReadonly" formControlName="Description" matInput></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        *ngIf="(isEditing || isCreating) && areActionsVisible"
        mat-button
        class="field-column-margin"
        [disabled]="isLoading"
        (click)="onResetBtnClick()"
      >
        Отменить
      </button>
      <button
        *ngIf="!isEditing && !isCreating && areActionsVisible"
        mat-raised-button
        class="field-column-margin"
        [disabled]="isLoading"
        (click)="onEditBtnClick()"
      >
        Редактировать
      </button>
      <button
        *ngIf="areActionsVisible"
        mat-raised-button
        color="primary"
        [disabled]="!isEditing && !isCreating || wareForm.invalid || isLoading"
        (click)="onSaveBtnClick()"
      >
        Сохранить
      </button>
    </mat-card-actions>
  </mat-card>
</div>
