@import 'src/styles/variables.scss';

.wrapper {
  background-color: $primary;
  height: 100%;
  box-shadow: 5px 5px 14px -5px rgba(34, 60, 80, 0.6) inset;
  display: flex;
  justify-content: center;
  align-items: center;

  .math-card {
    max-width: 33rem;
   
    .ware-card-content {
      max-height: 25rem;
      overflow-y: auto;
    }
  }

  .warning {
    color: white;
  }

  .header-padding {
    padding-bottom: 1rem;
  }

  .field-column-margin {
    margin-right: 1rem;
  }

  .full-width-field {
    width: 100%;
  }

  .field-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .description-field {
    margin-top: 0.5rem;
  }
}