<div class="wrapper">
  <mat-card>
    <mat-card-header class="header-padding">
      <button 
        mat-raised-button
        color="primary"
        class="field-column-margin"
      >
        Сохранить
      </button>
      <button 
        mat-raised-button
        (click)="onEditBtnClick()"
      >
        Редактировать
      </button>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="wareForm"
      >
        <div>
          <mat-form-field appearance="fill" class="field-column-margin">
            <mat-label>Название</mat-label>
            <input [readonly]="isReadonly" formControlName="Name" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Значение</mat-label>
            <input [readonly]="isReadonly" formControlName="TechnicalParameterValue" matInput />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill" class="field-column-margin">
            <mat-select formControlName="UnitOfMeasurementId">
              <mat-option
                [disabled]="isReadonly"
                *ngFor="let userRole of userRoleTitles"
                [value]="userRole.key"
              >
                {{ userRole.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select formControlName="TenantId">
              <mat-option
                [disabled]="isReadonly"
                *ngFor="let userRole of userRoleTitles"
                [value]="userRole.key"
              >
                {{ userRole.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="description-field">
          <mat-label>Описание</mat-label>
          <textarea [readonly]="isReadonly" formControlName="Description" matInput></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
