<div class="wrapper">
  <span class="info">Товары</span>
  <div class="wares-toolbar-actions">
    <button
      *ngIf="areActionsVisible"
      mat-mini-fab
      color="primary"
      class="add-btn"
      (click)="onAddBtnClick()"
      [disabled]="isCreating"
      matTooltip="Создать товар"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      *ngIf="areActionsVisible"
      mat-mini-fab
      color="warn"
      class="remove-btn"
      [disabled]="wareCount < 1 || !selectedWareId"
      (click)="onDeleteBtnClick()"
      [matTooltip]="selectedWare?.Status === WareStatus.ToBeDeleted ? 'Восстановить товар' : 'Отгрузить товар'"
    >
      <mat-icon
        matBadge="undo"
        matBadgePosition="below"
        matBadgeOverlap="true"
        [matBadgeHidden]="selectedWare?.Status !== WareStatus.ToBeDeleted"
      >
        local_shipping
      </mat-icon>
    </button>
  </div>
</div>