@import 'src/styles/variables.scss';

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info {
    padding-left: 1rem;
  }

  .wares-toolbar-actions {
    display: flex;
    justify-content: end;

    .add-btn {
      display: block;
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .remove-btn {
      display: block;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      justify-content: center;
      align-items: center;
    }
  }
}