.warning-message {
  text-align: center;
  padding: 1rem;
}

.problem-wrapper {
  border: 1px solid #c1c7d0;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .status {
    color: white;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    padding: 2px 5px 3px;
    cursor: pointer;
  }

  .performer-avatar-img {
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 0.5rem;
  }
}

.create-child-problem-btn-wrapper {
  display: flex;
  justify-content: center;

  .create-child-problem-btn {
    width: 99%;
    background: rgba(9,30,66,0.08);
    color: black;
  }
}