<div *ngIf="problems.length == 0" class="warning-message">
  Пока что подзадачи отсутствуют
</div>

<div
  class="problem-wrapper"
  *ngFor="let problem of problems"
  (click)="openSubProblem(problem.Id)"
>
  <div>
    <div>
      {{ problem.Title }}
    </div>
    <div>
      <span class="status" [style.background-color]="getProblemStatusColor(problem.Status)">{{ getProblemStatusTitle(problem.Status) }}</span>
    </div>
  </div>
  <div
    class="performer-avatar-img"
    [style.background-image]="'url(' + (problem?.Performer?.AvatarUrl ?? commonConstants.DEFAULT_USER_AVATAR) + ')'"
  ></div>
</div>

<div
  class="create-child-problem-btn-wrapper"
>
  <button 
    *ngIf="permissionsService.isAdmin()"
    mat-flat-button
    class="create-child-problem-btn"
    (click)="openProblemDialog()"
  >
    Добавить
  </button>
</div>
