<div class="wrapper">
  <div>
    <mat-label style="padding-left: 0.5rem; color: gray">
      {{ controlLabel }}
    </mat-label>
    <mat-chip-listbox>
      <mat-chip-row *ngFor="let displayValue of getDisplayValues()">
        {{ displayValue }}
      </mat-chip-row>
    </mat-chip-listbox>
  </div>
  <div>
    <button 
      mat-icon-button
      class="edit-btn"
      (click)="openAddressPickerDialog()"
      [disabled]="readonly"
    >
      <mat-icon>
        edit
      </mat-icon>
    </button>
    <button
      *ngIf="address && !readonly"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetControl()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>