<div class="wrapper">
  <button 
    class="parent-btn"
    mat-stroked-button 
    *ngIf="problem?.ParentProblemId"
    (click)="openParentProblem()"
  >
    <mat-icon>keyboard_backspace</mat-icon>
    <span>Родительская задача</span>
  </button>
  <h1 class="problem-title">{{ problem?.Title }}</h1>
  <div class="toolbar">
    <button 
      [disabled]="isLoading"
      class="spec-button"
      mat-flat-button
    >
      <mat-icon>edit</mat-icon>
      Редактировать
    </button>
    <button
      [disabled]="isLoading"
      class="spec-button"
      mat-flat-button
      (click)="scrollToCommentForm()"
    >
      <mat-icon>comment</mat-icon>
      Добавить комментарий
    </button>

    <button 
      class="spec-button"
      mat-flat-button
      [matMenuTriggerFor]="more"
      [disabled]="isLoading"
    >
      <mat-icon>arrow_drop_down</mat-icon>
      Больше
    </button>

    <mat-menu #more="matMenu">
      <button mat-menu-item (click)="openProblemDialog()">
        Добавить подзадачу
      </button>
      <button (click)="onAssignBtnClick()" mat-menu-item>
        Назначить
      </button>
      <button 
        (click)="onDeleteBtnClick()"
        mat-menu-item
        [disabled]="!canUserDeleteTask"
      >
        Удалить
      </button>
    </mat-menu>

    <button 
      mat-flat-button
      [matMenuTriggerFor]="status"
      [style]="'color: white;background-color:' + getProblemStatusColor()"
      [disabled]="isSettingStatus || isLoading"
    >
      <mat-icon>arrow_drop_down</mat-icon>
      <div class="status-btn-wrapper">
        <span>{{getProblemStatusTitle()}}</span>
        <mat-spinner *ngIf="isSettingStatus" class="progress-spinner" [diameter]="20"></mat-spinner>
      </div>
    </button>

    <mat-menu #status="matMenu">
      <button 
        *ngFor="let statusItem of problemStatusTitles"
        mat-menu-item
        (click)="onStatusChange(statusItem.key)"
        [disabled]="!permissionsService.isAuditor() && statusItem.key === problemStatus.Done"
      >
        {{statusItem.value}}
      </button>
    </mat-menu>
  </div>
  <div class="general-section">
    <div class="column-1">
      <mat-expansion-panel [expanded]="true" class="details">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Детали задачи
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <div class="item">
            <span class="header">Статус задачи:</span>
            <span class="value">
              <span class="status" [style.background-color]="getProblemStatusColor()">{{ getProblemStatusTitle() }}</span>
            </span>
          </div>
          <div class="item">
            <span class="header">Адрес назначения:</span>
            <span class="value">
              123
            </span>
          </div>
          <div class="item">
            <span class="header">Товар:</span>
            <span class="value">
              123
            </span>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" class="description">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Описание
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!problem?.Description" class="warning-message">
          Добавьте описание задачи
        </div>
        {{ problem?.Description }}
      </mat-expansion-panel>

      <mat-expansion-panel class="sub-tasks">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Подзадачи
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-problem-children
          [(problemId)]="problemId"
        ></app-problem-children>
      </mat-expansion-panel>

      <mat-expansion-panel id="activitiesTab" [(expanded)]="isActivitiesPanelExpanded" class="activities">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Активность
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group dynamicHeight>
          <mat-tab>
            <ng-template mat-tab-label>Комментарии</ng-template>
            <app-problem-comments 
              [(isCommentFormVisible)]="isCommentFormVisible"
              [(problemId)]="problemId"
            ></app-problem-comments>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </div>

    <div class="column-2">
      <mat-expansion-panel [expanded]="true" class="humans">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Люди
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <div class="item">
            <span class="header">Исполнитель:</span>
            <span class="value">{{ problem?.Performer?.FirstName === null ? 'Не назначен' : (problem?.Performer?.FirstName ?? '') + ' ' + (problem?.Performer?.LastName ?? '') }}</span>
          </div>
          <div class="item">
            <span class="header">Автор:</span>
            <span class="value">{{ (problem?.Author?.FirstName ?? '') + ' ' + (problem?.Author?.LastName ?? '') }}</span>
          </div>
          <div class="item">
            <span class="header">Аудитор:</span>
            <span class="value">{{ problem?.Auditor?.FirstName === null ? 'Не назначен' : problem?.Auditor?.FirstName ?? '' + ' ' + (problem?.Auditor?.LastName ?? '') }}</span>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" class="dates">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Даты
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <div class="item">
            <span class="header">Создано:</span>
            <span class="value">{{ formatDate('', problem?.CreatedDate) }}</span>
          </div>
          <div class="item">
            <span class="header">Обновлено:</span>
            <span class="value">{{ formatDate('', problem?.LastUpdateDate) }}</span>
          </div>
          <div class="item">
            <span class="header">Срок выполнения:</span>
            <span class="value">{{ formatDate('Не имеет', problem?.DeadlineDate)}}</span>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>

