@import 'src/styles/variables.scss';

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.tree-item-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.root {
  padding-left: 48px;
}

.tree-node {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  height: 1.75rem;
  display: flex;
  align-items: center;

  ::ng-deep .mat-badge-content {
    font-family: 'Material Icons';
    top: 1rem;
    left: 1rem;
  }
}

.selected-item {
  background: $primary;
  color: white;
}