<div class="wrapper">
  <h1>Сотрудники склада</h1>

  <button 
    mat-raised-button
    color="primary"
    class="add-btn"
    [disabled]="isEditing || isAdding"
    (click)="onAddBtnClick()"
  >
    Добавить
  </button>

  <form [formGroup]="employeeForm">
    <table 
      mat-table
      [dataSource]="dataSource"
      formArrayName="employees"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td
          mat-cell
          *matCellDef="let employee; let index = index"
          [formGroupName]="index"
          [class.input-td]="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
        >
          <span *ngIf="!(isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0))">
            {{ employee.value.FirstName }}
          </span>
          <mat-form-field
            appearance="outline"
            *ngIf="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
          >
            <input 
              matInput
              formControlName="FirstName"
              [readonly]="isLoading"
            />
            <mat-error *ngIf="employee.controls['FirstName'].hasError('required')">
              Поле обязательное
            </mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
        <td
          mat-cell
          *matCellDef="let employee; let index = index"
          [formGroupName]="index"
          [class.input-td]="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
        >
          <span *ngIf="!(isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0))">
            {{ employee.value.LastName }}
          </span>
          <mat-form-field
            appearance="outline"
            *ngIf="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
          >
            <input 
              matInput
              formControlName="LastName"
              [readonly]="isLoading"
            />
            <mat-error *ngIf="employee.controls['LastName'].hasError('required')">
              Поле обязательное
            </mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Почтовый адрес</th>
        <td
          mat-cell
          *matCellDef="let employee; let index = index"
          [formGroupName]="index"
          [class.input-td]="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
        >
          <span *ngIf="!(isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0))">
            {{ employee.value.Email }}
          </span>
          <mat-form-field
            appearance="outline"
            *ngIf="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
          >
            <input 
              matInput
              formControlName="Email"
              [readonly]="isLoading"
            />
            <mat-error *ngIf="employee.controls['Email'].hasError('required')">
              Поле обязательное
            </mat-error>
            <mat-error *ngIf="employee.controls['Email'].hasError('email')">
              Не верный формат
            </mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef>Роль</th>
        <td
          mat-cell
          *matCellDef="let employee; let index = index"
          [formGroupName]="index"
          [class.input-td]="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
        >
          <span *ngIf="!(isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0))">
            {{ getUserRoleDisplayName(employee.value.Role) }}
          </span>
          <mat-form-field
            appearance="outline"
            *ngIf="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
          >
            <mat-select [disabled]="isLoading" formControlName="Role">
              <mat-option
                *ngFor="let userRole of userRoleTitles"
                [value]="userRole.key"
                [disabled]="employee.value.Id == currentUser?.Id"
              >
                {{ userRole.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="employee.controls['Role'].hasError('required')">
              Поле обязательное
            </mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let employee" class="actions">
          <button
            mat-raised-button
            color="warn"
            class="remove-btn"
            (click)="onRemoveBtnClick(employee.value.Id)"
            *ngIf="!(isAdding && !employee.value.Id)"
            [disabled]="currentUser?.Id == employee.value.Id || isLoading"
          >
            Удалить
          </button>
          <button
            mat-raised-button
            (click)="onEditBtnClick(employee.value)"
            *ngIf="!(isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0))"
            [disabled]="isEditing && employee.value.Id !== editingItemId || (isAdding && employee.value.Id !== 0)"
          >
            Редактировать
          </button>
          <button
            mat-raised-button
            class="save-btn"
            (click)="onSaveBtnClick(employee.value)"
            *ngIf="isEditing && employee.value.Id === editingItemId || (isAdding && employee.value.Id === 0)"
            [disabled]="isLoading || employee.invalid || employee.pristine"
          >
            <div class="save-btn-wrapper">
              <mat-spinner *ngIf="isSaving" class="progress-spinner" [diameter]="20"></mat-spinner>
              <span>Сохранить</span>
            </div>
          </button>
          <button
            mat-raised-button
            (click)="onResetBtnClick(employee.value)"
            *ngIf="(isEditing && employee.value.Id === editingItemId) || (isAdding && !employee.value.Id)"
            [disabled]="isLoading"
          >
            Отменить
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
    </table>
  </form>
</div>
